* {
    background-color: rgb(255, 255, 218);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    border: 2px solid rgb(144, 152, 176);
    border-radius: 3px;
    background-color: rgb(227, 231, 241);
}

.button {
    background-color: rgb(157, 206, 248);
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
}

h1 {
    padding-top: 3%;
}

#cityform, #cityname {
    padding-top: 1%;
}

#week, #current, h4 {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

th {
    background-color: rgb(157, 206, 248);
}

td {
    background-color: rgb(227, 231, 241)
}

table {
    border-collapse: collapse;
}

@media screen and (max-width: 444px) {
    .button {
        position: absolute;      
    }
}



body {
    background: white;
}
.slider {
    position: relative;
    top: 30%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 60px;
    padding: 20px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;box-shadow: 0px 15px 40px #7E6D5766;
}
.slider label {
    font-size: 24px;
    font-weight: 400;
    font-family: Open Sans;
    padding-left: 10px;color: black;
}
.slider input[type="range"] {
    width: 420px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
} 
   
.sliderPrice {
    position: relative;
    top: 35%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 60px;
    padding: 20px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;display: flex;align-items: center;box-shadow: 0px 15px 40px #7E6D5766;
}.sliderPrice label {
    font-size: 24px;font-weight: 400;font-family: Open Sans;padding-left: 10px;color: black;
}
.sliderPrice input[type="range"] {
    width: 420px;height: 2px;background: black;border: none;outline: none;
} 


.sliderReviews {
    position: relative;
    top: 40%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 60px;
    padding: 20px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}.sliderReviews label {
    font-size: 24px;font-weight: 400;
    font-family: Open Sans;
    padding-left: 10px;color: black;
}
.sliderReviews input[type="range"] {
    width: 420px;height: 2px;
    background: black;
    border: none;
    outline: none;
} 

.sliderDistance {
    position: relative;
    top: 45%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 60px;
    padding: 20px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}
.sliderDistance label {
    font-size: 24px;
    font-weight: 400;
    font-family: Open Sans;
    padding-left: 10px;
    color: black;
}
.sliderDistance input[type="range"] {
    width: 420px;height: 2px;background: black;border: none;outline: none;
} 
  