* {
    /* background-color: rgb(255, 255, 218); */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    padding-top: 4%;
}

/* h5 {
    position: relative;
    padding-top: 35%;
    right: 10%;
} */

input {
    border: 2px solid rgb(144, 152, 176);
    border-radius: 3px;
    background-color: rgb(227, 231, 241);
}


#cityform, #cityname {
    padding-top: 1%;
}

#week, #current, h4 {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

th {
    background-color: rgb(157, 206, 248);
}

td {
    background-color: rgb(227, 231, 241)
}

table {
    position:relative;
    border-collapse: collapse;
    width: 200%;
    height: 50%;
    text-align:left;
    right: 100%;
}



body {
    background: white;
}
.slider {
    position: relative;
    top: 10%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 60px;
    padding: 20px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;box-shadow: 0px 15px 40px #7E6D5766;
}
.slider label {
    font-size: 20px;
    font-weight: 400;
    font-family: Open Sans;
    padding-left: 10px;
    color: black;
}
.slider input[type="range"] {
    width: 420px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
} 
   
.sliderPrice {
    position: relative;
    top: 15%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 60px;
    padding: 20px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;display: flex;align-items: center;box-shadow: 0px 15px 40px #7E6D5766;
}.sliderPrice label {
    font-size: 24px;font-weight: 400;font-family: Open Sans;padding-left: 10px;color: black;
}
.sliderPrice input[type="range"] {
    width: 420px;height: 2px;background: black;border: none;outline: none;
} 


.sliderReviews {
    position: relative;
    top: 20%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 60px;
    padding: 20px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}.sliderReviews label {
    font-size: 20px;
    font-weight: 400;
    font-family: Open Sans;
    padding-left: 10px;color: black;
}
.sliderReviews input[type="range"] {
    width: 420px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
} 

.sliderDistance {
    position: relative;
    top: 25%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 60px;
    padding: 20px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}
.sliderDistance label {
    font-size: 24px;
    font-weight: 400;
    font-family: Open Sans;
    padding-left: 10px;
    color: black;
}
.sliderDistance input[type="range"] {
    width: 420px;height: 2px;
    background: black;
    border: none;
    outline: none;
} 

/* Dropdown Button */

.dropdown {
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    top: 25%;
    right: 15%;
    background-color:beige;
    display: inline-block;
  }
  
  

.check-container {
    display: block;
    position: relative;
    top: 35%;
    /* padding-top: 50%; */
    padding-right: 20%;
    /* z-index: -10; */
}  
  /* CHECKBOX Customize the label (the container) */
.container {
    display: block;
    position: relative;
    top: 32%; 
    padding-left: 10%;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    z-index: 150;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 20%;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
         
  /* Checkbox checked effect */
  .checkbox:checked + .toggle::after {
      left : 49px; 
  }
         
  /* Checkbox checked toggle label bg color */
  .checkbox:checked + .toggle {
      background-color: green;
  }
         
  /* Checkbox vanished */
  .checkbox { 
      display : none;
  }

/* 
.button {
    position: relative;
    top: 50%;
    right: 10%; 
    background-color: rgb(157, 206, 248);
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
} */

/*First Submit button */
.button {
    position: relative;
    top: 115%; 
    left: 7%; 
    border: none;
    border-radius: 3px;
    padding: 10px;
} 

#submitbutton{
    position: absolute;
    /* top: 150%; */
    /* left: 15%; */ 
    transform: translate(-30%,-30%);
    width: 100px;
    height: 30px;
    padding: 10px;
    padding-left: 10px;
    background: #5f94da;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}


@media screen and (max-width: 444px) {
    .button {
        position: relative;
    }
}

.questionContainer {
    display: block;
    position: relative;
    top: 50%;
    left: 15%;
    /* padding-top: 50%; */
    padding-right: 20%;
    /* z-index: -10; */
} 

#allergyQuestion{
    position: relative;
    top: 90%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 30px;
    padding: 10px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 20px #7E6D5766;
}

#meatQuestion{
    position: relative;
    top: 100%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 30px;
    padding: 10px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}

#spiceQuestion{
    position: relative;
    top: 110%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 30px;
    padding: 10px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}

#starchQuestion{
    position: relative;
    top: 130%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 30px;
    padding: 10px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}

#sweetQuestion{
    position: relative;
    top: 130%;
    left: 30%;
    transform: translate(-30%,-30%);
    width: 500px;
    height: 30px;
    padding: 10px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}

#meat{
    font-size: small;
}

#allergyInput{
    width:300px
}

.invisible{
    visibility: hidden;
}

.submit-parent {
    display:flex;
    justify-content: center !important;
}

.content-parent {
    display: flex;
    justify-content: space-between;
}

.flavorButton {
    position: relative;
    top: 50%; 
    left: 25%; 
    border: none;
    border-radius: 3px;
    padding: 10px;
} 

/* bottom submit */
#submitFlavors{
    position: absolute;
    /* top: 100%;
    left: 15%; */
    transform: translate(-30%,-30%);
    width: 500px;
    height: 30px;
    padding: 10px;
    padding-left: 10px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}

#submitFlavors:hover{
    cursor:grab
}

#submitbutton:hover{
    cursor:grab
}